.search {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.table-header {
    margin-top: 5px;
    margin-bottom: 5px;
}
.t-1, .t-3 {
    text-align: center;
}
.t-1 {
    width: 150px;
}

.t-3 {
    width: 50px;
}