<div class="view-user">
    <div class="input-container">
        <div class="label">EmployeeId: </div>
        <div class="field">
            {{employee.employeeId}}
        </div>
    </div>
    <div class="input-container">
        <div class="label">Name: </div>
        <div class="field">
            {{employee.name}}
        </div>
    </div>
    <div class="input-container">
        <div class="label">Address: </div>
        <div class="field">
            {{employee.address}}
        </div>
    </div>
    <div class="input-container">
        <div class="label">Mobile: </div>
        <div class="field">
            {{employee.mobile}}
        </div>
    </div>
    <div class="input-container">
        <div class="label">Salary: </div>
        <div class="field">
            {{employee.salary}}
        </div>
    </div>
</div>